@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Acme';
}   

html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}
nav{
    background: #000;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    border: 4px solid #fff;
    border-radius: 50px;
}
nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 15px 20px;
}

section h1{
    font-size: 70px;
}
section p{
    font-size: 28px;
    max-width: 800px;
    margin: 0 auto;
}

#inicio{
    background: #000;

}
#servicios{
    background: rgb(236, 106, 94);

}
#nosotros{

    background: rgb(246, 193, 81);
}
#contacto{
    background: rgb(98, 196, 84);
}